.menu-items {
    display: block;
    position: sticky;
    top: 63px;
    background-color: #fff;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    padding: 15px;
}

.menu-items button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    margin-left: auto;
    color: black;
}

.ham-btn:hover {
    background-color: rgb(200, 200, 200);
}

@media screen and (min-width: 1199px) {
    .menu-items {
        display: none;
    }
  }